---
import Layout from '../layouts/Layout.astro'
import Header from '../components/Header'
import Hero from '../components/Hero'
import IngenieriaSinLimites from '../components/IngenieriaSinLimites'
import Soluciones from '../components/Soluciones'
import InfoCards from '../components/InfoCards'
import ProductosSection from '../components/ProductosSection'
import DiagonalGalleryBanner from '../components/DiagonalGalleryBanner'
import GlobalStats from '../components/GlobalStats'
import InstagramFeed from '../components/InstagramFeed'
import Contacto from '../components/Contacto'
import GlobalPresence from '../components/GlobalPresence'
import Footer from '../components/Footer'
---
<Layout>
  <Header client:only="react" />
  <main class="block m-0 p-0">
    <!-- S1: Hero slider interactivo -->
    <Hero client:only="react" />
    <!-- S2: Ingeniería Sin Límites -->
    <IngenieriaSinLimites client:only="react" />
    <!-- S3: Soluciones destacadas -->
    <Soluciones client:only="react" />
    <InfoCards client:only="react" />
    <!-- S3: Visor 3D interactivo -->
    <ProductosSection client:only="react" />
    <!-- S3.5: Banner Diagonal Gallery -->
    <DiagonalGalleryBanner client:only="react" />
    <!-- Stats regionales -->
    <GlobalStats client:only="react" />
    <!-- Instagram Feed -->
    <InstagramFeed client:only="react" />
    <!-- Contacto -->
    <Contacto client:only="react" />
    <!-- Presencia Global (teaser mapa) -->
    <GlobalPresence client:only="react" />
  </main>
  <Footer client:only="react" />
</Layout>
