---
import Layout from '../layouts/Layout.astro'
import Header from '../components/Header'
import Hero from '../components/Hero'
import Soluciones from '../components/Soluciones'
import InfoCards from '../components/InfoCards'
import ProductosSection from '../components/ProductosSection'
import GlobalStats from '../components/GlobalStats'
import InstagramFeed from '../components/InstagramFeed'
import Contacto from '../components/Contacto'
import Footer from '../components/Footer'
---
<Layout>
  <Header client:only="react" />
  <main>
    <Hero client:only="react" />
    <Soluciones client:only="react" />
    <InfoCards client:only="react" />
    <ProductosSection client:only="react" />
    <GlobalStats client:only="react" />
    <InstagramFeed client:only="react" />
    <Contacto client:only="react" />
  </main>
  <Footer client:only="react" />
</Layout>
